AWS_REGION=ap-south-1
IDP_PUBLIC_URL=https://idp.example.com
SONARQUBE_BASE_URL=http://your-sonarqube-url
SONARQUBE_EXTERNAL_URL=http://your-sonarqube-url
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
